@model RedButton.Models.PanicViewModel

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Organization)
    @Html.HiddenFor(model => model.Key)
    <div class="center-btn-container">
        <input type="submit" value="Drop sessions" class="panic-btn" />
    </div>
}