body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.center-btn-container {
    text-align: center;
}

.panic-btn {
    color: #ffffff;
    background-color: #d9534f;
    border-color: #d43f3a;
    padding: 6px 12px;
    max-width: 400px;
    min-width: 300px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}